
.bmibkg {
  background-color: #d9b38c;

}


.topborder{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}


.bottomborder{

  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.left{
  text-align:left;
}
